<table class="profile" summary="Profile information">
  <tr>
    <td class="main">

	   <% unless @user.moims.empty? %>
	        <table class="moims" summary="User moims">
	          <%= render @moims %>
	        </table>
	        <%= will_paginate @moims %>
	      <% end %>

    </td>
 	<%= render 'shared/user_info' %>
  </tr>
</table>



