<table summary="Information about managed meetings">
  <tr>
    <td class="main">
      <h1><%= @title %></h1>
      <% unless @moims.empty? %>
        <table class="moims">
          <%= render @moims %>
        </table>
        <%= will_paginate @moims %>
      <% end %>
    </td>
 	<%= render 'shared/user_info' %>
  </tr>
</table>

