<table summary="Information about Attendees">
  <tr>
    <div id="attendees">
      <h1><%= @title %></h1>
      <%= pluralize(@attendees.count, "attendee") %>
      <% unless @attendees.empty? %>
        <ul class="user">
          <%= render @attendees %>
        </ul>
      
      <% end %>
    </div>
   
  </tr>
</table>


