<% @user ||= current_user %>
<div class="stats">
  <table summary="User stats">
    <tr>
      <td> <br />
	    <a href="<%= managed_user_path(@user) %>">
          <span id="attending" class="stat">
          Managed Moims <%= @user.moims.count %> 
          </span>
        </a>
       
<a href="<%= attending_user_path(@user) %>">
          <span id="attending" class="stat">
          Attending Moims <%= @user.attending.count %> 
          </span>
        </a>
      </td>
    </tr>
  </table>
</div>
